
.layout {
  min-height: 100vh;
  :global {
    .ant-layout-header {
      background-color: #fff;
      position: sticky;
      top: 0;
      z-index: 10000;
      box-shadow: 0 1px 3px rgba(18,18,18,.1);
    }
  }
  .layoutContiner {
    margin-top: 0.3rem;
  }
}